/.venv
api-server-flask/api/__pycache__

api-server-flask/api/dbEnv.py

api-server-flask/api/.env
googlecreds.json

api-server-flask/api/credentials/*

api-server-flask/cr_cache

api-server-flask/api/test/__pycache__

api-server-flask/api/utils/__pycache__
