.Comment-title {
    font-size: calc(10px + 1vmin);
    color: white;
    margin-top: 0;
    align-items: center;
}

.Comment-loading {
    color: white;
    align-items: center;
    margin-top: 10vh;
}

.Comment-list-container {
    overflow-y: scroll;
    height: 90vh;
}
