.Comment-title {
    font-size: calc(10px + 1vmin);
    color: white;
    margin-top: 0;
    align-items: center;
}

.Comment-loading {
    color: white;
    align-items: center;
    padding-top: 10vh;
    height: 60vh;
}

.Comment-list-container {
    overflow-y: scroll;
    height: 70vh;
}

.Comment-submit-section {
    color: white;
}