.Review-window {
    background-color: #282c34;
    height: 95vh;
    width: 100vw;
    display: flex;
    float: left;
    clear: both;
    text-align: center;
}

.Code-view {
    background-color: #4d4d4d;
    height: 90vh;
    width: 70vw;
    border: 1px solid #000000;
    display: inline-block;
}

.Monaco-editor {
    height: 100%;
    width: 70%;
}

.Comment-view {
    width: 30%;
    display: inline-block;
}